.site-wrapper {
    max-width: 1500px;
    padding-left: 80px;
    padding-right: 80px
}

.input {
    border-color: #d7d7d7
}

.input:focus,
.input:hover {
    border-color: #515151
}

.input[disabled],
.input[disabled]:focus,
.input[disabled]:hover {
    border-color: #d7d7d7
}

.order-summary {
    margin-bottom: 0
}

.order-summary header {
    padding: 27px 22px
}

.order-summary .section-header {
    margin-bottom: 0
}

.order-summary .checkout-mini-cart {
    padding: 22px
}

.order-summary .checkout-mini-cart-inner {
    max-height: 330px;
    padding-right: 10px;
    margin-right: -10px;
    overflow: auto
}

.order-summary .checkout-mini-cart-inner::-webkit-scrollbar {
    width: 6px
}

.order-summary .checkout-mini-cart-inner::-webkit-scrollbar-thumb {
    background-color: #dbdcdc;
    border-radius: 10px
}

.order-summary .checkout-mini-cart-inner::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin: 22px 0
}

.order-summary .checkout-mini-cart-inner:hover::-webkit-scrollbar-thumb {
    background-color: #cecfcf
}

.order-summary .checkout-order-totals {
    border-top: 1px solid #212121;
    padding-top: 15px
}

.order-summary .order-totals-table td,
.order-summary .order-totals-table th {
    padding-left: 22px;
    padding-right: 22px
}

.checkout-mini-cart,
.checkout-order-totals,
.order-summary header {
    background-color: #f5f5f5
}

.section-header-note {
    font-size: .93rem;
    color: #212121;
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
    line-height: 1;
    margin: 26px 24px 0 0;
    text-transform: capitalize;
    font-weight: 400
}

.section-header-note:hover {
    color: #515151
}

.mini-cart-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 22px;
    padding-bottom: 22px;
    line-height: normal;
    border-bottom: 1px solid #d7d7d7
}

.mini-cart-product:after,
.mini-cart-product:before {
    content: "";
    display: table
}

.mini-cart-product:after {
    clear: both
}

.mini-cart-product:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0
}

.mini-cart-name {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-top: 2px
}

.mini-cart-name a {
    font-size: .93rem;
    margin-bottom: 15px;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none
}

.mini-cart-image {
    float: left;
    max-width: 60px;
    margin-right: 20px;
    overflow: hidden
}

.mini-cart-image img {
    vertical-align: bottom
}

.mini-cart-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: -5px;
    word-break: break-word
}

.mini-cart-attributes {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%
}

.mini-cart-attributes .label {
    font-weight: 400
}

.mini-cart-pricing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: -20px
}

.mini-cart-pricing .mini-cart-price {
    letter-spacing: normal
}

.mini-cart-pricing .label {
    opacity: 0
}

.checkout-shipping .f-field-button .btn-secondary {
    display: block
}

.checkout-shipping .required-indicator {
    margin-bottom: -21px
}

.js-store-address {
    padding: 30px 0 0 30px
}

.find-store-header-text {
    margin-bottom: 25px;
    font-weight: 700
}

.store-name {
    text-transform: uppercase;
    margin-bottom: 5px;
    text-decoration: underline
}

@media only screen and (max-width:767px) {
    .pt_checkout .order-summary {
        margin-right: -22px;
        margin-left: -22px
    }
}

[data-checkout-panel=delivery-address] .f-field {
    margin-bottom: 25px
}

[data-checkout-panel=delivery-address] .f-field label {
    font-size: .93rem
}

[data-checkout-panel=delivery-address] .f-field-button,
[data-checkout-panel=delivery-address] .f-field-button .clear-address,
[data-checkout-panel=delivery-address] .f-field-button .find-address {
    margin-bottom: 0
}

[data-checkout-panel=billing-address] .f-field label {
    font-size: .93rem
}

[data-checkout-panel=billing-address] .f-field-wrapper {
    margin-bottom: 30px
}

.js-checkout-panel-title {
    cursor: pointer;
    position: relative;
    width: 100%;
    padding: 23px 0;
    color: #515151;
    overflow: hidden;
    border-top: 1px solid #e6e6e6
}

.is-active .js-checkout-panel-title {
    cursor: default;
    color: inherit
}

.is-active .js-checkout-panel-title .checkout-panel-change,
.is-active .js-checkout-panel-title .checkout-panel-icon,
.is-active .js-checkout-panel-title .checkout-panel-selected {
    display: none
}

.checkout-panel-title-name {
    font-size: .86rem;
    float: left;
    font-weight: 700;
    line-height: 1.7;
    padding-left: 4px
}

.js-checkout-panel-wrapper {
    border: 0
}

.checkout-panel-change {
    margin-left: 20px;
    color: inherit;
    border: none;
    background: 0 0;
    padding: 0;
    line-height: 1
}

.checkout-panel-selected {
    max-width: 50%;
    margin-left: 20px;
    word-break: break-word;
    font-weight: 700;
    text-align: left;
    text-transform: none
}

.js-checkout-panel {
    display: none;
    padding: 25px 0 40px;
    overflow: hidden;
    border-top: 1px solid #e6e6e6
}

.is-active .js-checkout-panel {
    display: block;
    overflow: visible
}

.js-checkout-panel .js-address-option {
    margin-bottom: 24px
}

@media only screen and (min-width:768px) and (max-width:1024px) {

    .checkout-panel-change,
    .checkout-panel-title-name {
        line-height: 23px
    }
}

@media only screen and (min-width:768px) {

    .js-clear-address,
    .js-find-address {
        width: 330px
    }
}

@media only screen and (max-width:767px) {

    .js-checkout-panel-title .change-label,
    .js-checkout-panel-title .checkout-panel-selected {
        display: none
    }

    .is-active .js-checkout-panel-title .checkout-panel-change {
        display: none;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .js-checkout-panel-title .checkout-panel-change {
        font-size: .93rem;
        display: none;
        font-weight: 700;
        text-decoration: none;
        -webkit-transition: -webkit-transform .4s ease;
        transition: -webkit-transform .4s ease;
        -o-transition: transform .4s ease;
        transition: transform .4s ease;
        transition: transform .4s ease, -webkit-transform .4s ease;
        padding: 20px;
        margin: -20px
    }

    .js-checkout-panel-title .checkout-panel-change:before {
        content: "";
        position: absolute;
        display: block;

        background-size: 100%;
        height: 24px;
        width: 24px;
        right: 0;
        top: 50%;
        margin-top: -12px
    }

    .js-checkout-panel-wrapper:first-of-type .js-checkout-panel-title {
        border-top: 0
    }

    .find-store-header-text {
        margin-bottom: 15px
    }

    .store-name {
        margin-bottom: 0
    }

    .js-store-address {
        padding: 15px 0 0
    }

    .site-wrapper {
        padding-left: 22px;
        padding-right: 22px
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .mini-cart-attributes {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
}

.input-new {
    height: 20px;
    width: 300px;
}

@media only screen and (max-width: 768px) {
    .input-new {
        height: 20px;
        width: calc(100% - 32px) !important;
        max-width: none;
    }
}